/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;

}

/* container */

.container {
	position: relative;
}

/* items */

.item, .door {
	height: 250px;
	width: 250px;
	background: blue;
	font-size: 80px;
	color: yellow;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left; 
	transition: all 500ms ease; 
	color: white;


	cursor: pointer;
}

/* example button 1 */
#button-1{background-color: #001f3f;
          color: white;}

#button-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;

}

#button-1:active {
	background: pink;
	opacity: 1;
}

/* example button 2 */


#button-2{background-color: #2ECC40;
          color: white;}

#button-2::after {
	content: '';
	color: white;
}


#button-2:hover::after {
	content: 'Hi Hi Hi';
	color: red;
	font-size: 60px;
}

#button-3{background-color: orange;
          color: white;}

#button-3:hover > #two  {
	 text-shadow: 
	 0 0 10px white, 
	 0 0 20px white, 
	 0 0 30px white, 
	 0 0 40px purple, 
	 0 0 70px purple, 
	 0 0 80px yellow, 
	 0 0 100px orange, 
	 0 0 150px black;

	opacity:1.0;
  color: white;
  font-size: 200px;

}

/* example button 3 is changed only via js */

/* example button 4 */

#button-4{background-color: fuchsia;
          color: white;}
#button-4.gradient-background {
	background: linear-gradient(blue, pink);
	color: transparent;
}

/* example button 5 */

#button-5{background-color: yellow;
          color: white;}
.circle {
	border-radius: 125px;
}

/* example button 6 */
#button-6{
	transition: none; 
	background-color: teal;
          color: white;
}
#button-7{position: relative;
  overflow: hidden;
  background-color: maroon;
  color: white;
	
}


.material-ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.material-ink-animate {
  -webkit-animation: ripple 0.5s linear;
          animation: ripple 0.5s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.card {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  /*padding: 4em 4em;*/
  color: white;
  /*font-size: 1.5em;*/
  text-decoration: none;
  background: #2979FF;
  border-radius: 0.12em;
  box-shadow: 0 0.9em 1.4em rgba(0, 0, 0, 0.25), 0 0.25em 0.5em rgba(0, 0, 0, 0.22);
}
@media screen and (max-width: 640px) {
  .card {
    font-size: 1em;
  }
}
.card span {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: bold;
}








/*.cont {
  width: 200px;  
  height: 200px;
  position: relative;
  perspective:900px;
  padding: 0;
  margin: 80px auto;
}


.flipDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flipDiv figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-origin:0%;
}

.flipDiv .front {
  background: white;
  width: 100%;
  z-index: 1;
}



.flipDiv .back {
  background-size: auto 100% ;
  background-position:center ;
  background-image: url(http://www.mankatoclinic.com/stuff/contentmgr/files/0/238b3501450b39c20a474e4a25a80a88/image/13.jpg);
}

.flipped{
  transform: rotateY( -180deg );
}*/







#button-8{transition: transform .1s;
	color: white;
	 
}

#button-8:hover {
  /* Chrome, Safari, Opera */
  -webkit-animation-name: hue;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  /* Standard syntax */
  animation-name: hue;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes hue {
  0%   { 
    transform: scale(1);
    -webkit-filter: hue-rotate(0deg);
  }

  100% { 
    -webkit-filter: hue-rotate(360deg);
    transform: scale(1.5);
  }
}

/* Standard syntax */
@keyframes hue {
  0%   { 
    -webkit-filter: hue-rotate(0deg);
    transform: scale(1);
  }

  100% { 
    -webkit-filter: hue-rotate(360deg);
    transform: scale(1.5);
  }
}

#button-9{background-color: red;
color: white;}

input{
	opacity: 0;
    height: 250px;
    width: 250px;
    position: relative;

}
.ii{top: 0px;
left: 0px;}

input:hover {
 top: -10px;
 left: -10px;
  position: absolute;
  opacity: 1;
  padding: 15px;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  border: 0px;
  /*box-shadow: -5px 5px #95a5a6;*/
  background: yellow;
}



#button-10 {background-color: aqua;
	color: white;
	
}

.disappear{
  opacity: 0;
}



#button-11 {background-color: brown;
color: white;}


.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) 
  translateZ(0px) translateX(0px) 
  translateY(0px) rotateY(-105deg);
}

#button-12 {background-color: black;
color: white;}


.doorOpen2
{position: relative;
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) 
  translateZ(0px) translateX(0px) 
  translateY(0px) rotateY(0deg);
  left: -250px;
  background: yellow;
}
/*.star {
  position: relative;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid red;
  top: 10px;
  left: 25px;
  line-height: 0;
  font-size: 0;
}*/

.door, .prize {
  position: relative;
  top: 78px;
  left: 163px;
  transform: scale(2.5);

}

.door {
	
	top:-138px;
	left:-20px;
  background-color: blue;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  display: inline-block;
  transition: all 0.75s ease;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  cursor: pointer;
}
.door:hover {
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
}
.door.open {
  -webkit-transform: rotateY(-160deg);
          transform: rotateY(-160deg);
          /*transform: perspective(500px)*/
}
#button-14 {background-color: darkorange;
color: white;
box-shadow: 3px 3px 3px 3px lightgray;
}

#button-15 {background-color: pink;
color: white;
}

#button-16 {background-color: peachpuff;
color: white;
}

.pop-up {
  height:auto;
  width:60%;
  margin:10vh auto;
  background:yellow;
  position:relative;
  z-index:1;
  border-radius:5px;
  box-shadow:0 0 20px #000;
}
.pop-up-container{
  height:100vh;
  width:100%;
  background:#000;
  opacity:.5;
  position:relative;
  z-index:-1;
  margin-top:-500px;
}

#button-17 {background-color:hotpink;
color: white;
}

#button-18 {background-color: darksalmon;
color: white;
}

#button-18:hover {
  line-height: 100%;
  animation: in 1s;
}

#button-18:focus {
  line-height: 100%;
  font-size: 150vh;
  opacity: 0;
  -webkit-text-stroke: 1px rgba(255,255,255,0);
  animation: in 1s;
}

@keyframes in {
    0% {line-height: 0%;}
    100% {line-height: 100%;}
}

@keyframes out {
    0% {line-height: 100%;}
    100% {line-height: 0%;}
}



#button-19 {background-color: mediumaquamarine;
color: white;
}
#button-20{
	background:mediumorchid;
	color: white;
}

#button-20:hover {
	background-color: black;
	transform: rotate(90deg);s
}


#button-20:hover {
	background-color: #3e8e41;
}



/*#button-15:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/

#button-21{
	background:springgreen;
	color: white;
}

#button-21:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: red;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#button-22{
	background:lemonchiffon;
	color: white;
}

#button-22:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: blue;
}

#button-23{
	background:lavender;
	color: white;
}

#button-23 > #twothree {

	transition: all 0.3s ease-in-out;

}

#button-23:hover > #twothree  {
	 text-shadow: 
	 0 0 10px white, 
	 0 0 20px white, 
	 0 0 30px white, 
	 0 0 40px purple, 
	 0 0 70px purple, 
	 0 0 80px yellow, 
	 0 0 100px orange, 
	 0 0 150px black;

	opacity:1.0;
  color: white;
  font-size: 200px;

}
#button-24{
	background:pink;
	color: white;
}
#button-24 > #sixteen {

	transition: all 0.3s ease-in-out;

}

#button-24:hover > #sixteen {
	 text-shadow: 
	 0 0 10px white, 
	 0 0 20px white, 
	 0 0 30px white, 
	 0 0 40px purple, 
	 0 0 70px purple, 
	 0 0 80px yellow, 
	 0 0 100px orange, 
	 0 0 150px black;
	 font-size: 5px;

	opacity:1.0;
  color: white;

}
#button-25{
	background:green;
	color: white;
}
#button-25:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    background-color: pink;
}




#button-19:hover {
  background-color: #555;
  color: white;
