body {
	background: black;	
	color: white;
	font-family: monaco;

	display: flex;
	align-items: center;
  	justify-content: center;

  	min-height: 100vh;
}

.noon {
	background: red;
}

#clock {
	border: 1px solid white;
	width: 500px;
	height: 500px;

	display: flex;
	align-items: center;
  	justify-content: center;


}
